# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/" # Location of package manifests
    schedule:
      interval: "monthly"
    target-branch: "dev"
    commit-message:
      prefix: "chore(deps)"
    groups:
      cargo:
        patterns:
          - "*"

  # This configuration exists so Dependabot knows to send us security notifications when/if they happen.
  # We're not so worried about running latest _features_ of GH actions.
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`. (You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.)
    directory: "/"
    schedule:
      interval: "yearly"
    target-branch: "dev"
    commit-message:
      prefix: "chore(ci)"
      include: "scope"
    groups:
      cargo:
        patterns:
          - "actions"
