name: CI

on:
  push:
  pull_request: # duplicated by 'push', but needed for external PRs; concurrency config prevents duplicate runs
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

env:
  CARGO_TERM_COLOR: always
  CLICOLOR_FORCE: 1
  RUST_BACKTRACE: 1
  CARGO_INCREMENTAL: 0

jobs:
  checks:
    name: checks @${{ matrix.rust-version}}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false # useful for testing
      matrix:
        rust-version: [1.88.0, stable]
        cache: [true]
        include:
          - rust-version: nightly
            cache: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          persist-credentials: false
      - name: Install Rust ${{ matrix.rust-version }}
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        # this action is used in multiple places
        with:
          toolchain: ${{ matrix.rust-version }}
          components: rustfmt,clippy,rust-src
      - uses: taiki-e/install-action@cf46383a970594553a83cc6140075ef6a7f54dee # v2.62.64
        with:
          tool: typos,dprint,cargo-machete,cargo-shear
          checksum: true

      ####### Ensure all tools are loaded before rust-cache, or they will be cached themselves ######
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        # this action is used in multiple places
        with:
          key: ${{ matrix.rust-version }}
          cache-on-failure: true
          cache-targets: true
          save-if: ${{ github.ref == 'refs/heads/dev' }}
        if: ${{ matrix.cache }}

      # Within this workflow we will continue on error, to give
      # maximum information to the developer.
      - run: cargo fmt --all --check
        if: ${{ !cancelled() }}
      - run: typos
        if: ${{ !cancelled() }}
      - run: dprint check --list-different
        # to fix: dprint fmt
        if: ${{ !cancelled() }}
      - run: dprint fmt --diff
        if: ${{ failure() }}
      - run: cargo machete --with-metadata
        if: ${{ !cancelled() }}
      - run: cargo shear
        if: ${{ !cancelled() }}
      - run: cargo clippy --locked --tests --workspace
        if: ${{ !cancelled() }}

  docs:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          # update periodically
          toolchain: nightly-2025-07-31
          components: rust-src
      - uses: dtolnay/install@b2464e56f40a0193c82503a074e7ccf9dd2d7f40 # 2025-09-07
        with:
          crate: cargo-docs-rs
      ####### Ensure all tools are loaded before rust-cache, or they will be cached themselves ######
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        # this action is used in multiple places
        with:
          cache-on-failure: true
          save-if: ${{ github.ref == 'refs/heads/dev' }}
      - run: cargo docs-rs -p qcp --locked
      # Continue on error for maximum information
      - run: cargo doc -p qcp --no-deps --locked --document-private-items
        if: ${{ !cancelled() }}

  coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          persist-credentials: false
      - name: Install Rust
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        # this action is used in multiple places
        with:
          # update periodically
          toolchain: nightly-2025-07-31
          components: llvm-tools-preview,rust-src
      - uses: taiki-e/install-action@cf46383a970594553a83cc6140075ef6a7f54dee # v2.62.64
        # this action is used in multiple places
        with:
          tool: cargo-llvm-cov,cargo-nextest
          checksum: true
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        # this action is used in multiple places
        with:
          cache-on-failure: true
          save-if: ${{ github.ref == 'refs/heads/dev' }}
      - name: Run coverage tests
        # Note that we do NOT run +nightly here, as we installed an explicit nightly version above.
        # (We currently prefer cacheability over tracking nightly features.)
        # Note that this does not include doctests, which are only supported with a nightly compiler.
        run: ./scripts/coverage --ci

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v6
        with:
          name: lcov.info
          path: target/coverage/lcov.info
      #- name: Send result to coveralls
      #  uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
      #  continue-on-error: true
      - name: Send result to codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          #files: lcov.info # not needed, it autodetects
          #verbose: true # not needed
          name: lcov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  cargo-deny:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    strategy:
      matrix:
        checks:
          - advisories
          - bans licenses sources
    # Prevent sudden announcement of a new advisory from failing ci:
    continue-on-error: ${{ matrix.checks == 'advisories' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          persist-credentials: false
      - uses: EmbarkStudios/cargo-deny-action@76cd80eb775d7bbbd2d80292136d74d39e1b4918 # action 2.0.14 / cargo-deny 0.18.6
        with:
          command: check ${{ matrix.checks }}

  test:
    uses: ./.github/workflows/package.yml
    needs: [checks, docs, coverage]
    with:
      test: true

  package:
    uses: ./.github/workflows/package.yml
    needs: [checks, docs, coverage]
    with:
      package: true
