name: release

on:
  release:
    types: [published]

env:
  CLICOLOR_FORCE: 1

permissions: {}

jobs:
  build:
    uses: ./.github/workflows/package.yml
    with:
      package: true
      release: true
  publish:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 3
    permissions:
      contents: write # necessary to publish to releases
    steps:
      - name: download CI artifacts
        id: download1
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          merge-multiple: true
      - name: enumerate (debug)
        run: tree "${STEPS_DOWNLOAD1_OUTPUTS_DOWNLOAD_PATH}"
        continue-on-error: true
        env:
          STEPS_DOWNLOAD1_OUTPUTS_DOWNLOAD_PATH: ${{ steps.download1.outputs.download-path }}
      - name: upload artifacts to gh release
        # Without a checkout, one must explicitly specify the repo to upload to (-R option).
        if: ${{ github.event.action == 'published' }}
        run: bash -xc 'gh release upload -R "${{ github.repository }}" "${GITHUB_REF_NAME}" ./*'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Is there really no canned action I can pass a shell glob or list of files to?!
